---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home">
	<main>
		<div class="container">
			<div class="about-me">
				<h1>Hi there, I'm <span id="name">Gabriel</span></h1>
				<!-- <p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Perspiciatis facilis vero ratione nostrum quasi, quae
					voluptate repellat in maiores at quos, tempora veritatis id
					labore! Blanditiis et nihil illo animi?
				</p> -->
				<p class="decription">
					A passionate <span class="emph">Web developer</span> and <span
						class="emph">Android Enthusiast</span
					>.
					I build and deploy efficient websites and web apps using modern
					front-end technologies 
					using <span class="emph-t">HTML</span>, <span class="emph-t"
						>CSS</span
					> and <span class="emph-t">Javascript</span>
				</p>
			</div>
			<div class="illustration">
				<img src="developer.svg" alt="developer" />
			</div>
		</div>
	</main>
</MainLayout>

<style>
	@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Source+Code+Pro&family=Urbanist&display=swap");

	main {
		display: grid;
		justify-content: center;
		align-content: center;
	}

	p {
		font-size: x-large;
	}

	.emph {
		font-weight: bolder;
		font-style: italic;
		color: #a2d2ff;
	}

	.emph-t {
		color: #ffc8dd;
	}

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 5rem;
	}

	.about-me {
		width: 40%;
		word-wrap: break-word;
		margin-right: 2rem;
	}
	#name {
		color: #2a9d8f;
	}
	.illustration {
		width: 60%;
	}
</style>
