---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home">
	<main>
		<div class="fullpage">
			<div id="about-me" class="section">
				<div class="wrapper">
					<article id="description">
						<h1>Hi, I'm Gabriel</h1>
						<p>
							A freelance <span class="emph">Web Developer</span> and <span class="emph">Android Enthusiast</span> in
							college, balancing learning and client work. My passion,
							creativity, and dedication set me apart in the ever-evolving
							world of web development.
						</p>
					</article>
				</div>
			</div>
			<div id="projects" class="section">
				<div class="wrapper">
					<h1>Projects</h1>
				</div>
			</div>
			<div id="contact" class="section">
				<div class="wrapper">
					<h1>Contact</h1>
				</div>
			</div>
		</div>
	</main>
</MainLayout>

<style>
	@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,900;1,700&display=swap");

	.section {
		width: 100vw;
		height: 100vh;
	}
	.wrapper {
		margin: 0 3rem;
		max-width: 40%;
		word-wrap: break-word;
	}

	#about-me {
		display: flex;
		align-items: center;
		align-content: center;
		font-family: Montserrat;
		color: #fecea8;
	}

	#about-me > .wrapper > h1 {
		color: #e84a5f;
		font-weight: 900;
	}
	#about-me > .wrapper > p {
		font-weight: 400;
	}
	.emph {
		font-weight: 700;
		font-style: italic;
		color: #fff685;
	}
</style>
