---
---

<nav>
    <div class="link-container">
        <div class="link">
            <a href="/">home</a>
        </div>
        <div class="link">
            <a href="/projects">projects</a>
        </div>
        <div class="link">
            <a href="/contact">contact</a>
        </div>
    </div>
</nav>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Urbanist&display=swap');
    nav {
        display: grid;
        justify-content: center;
        align-content: center;
    }
    .link-container {
        display: flex;
    }
    .link-container > div {
        margin: 0.5rem 0.5rem;
    }
    .link-container > div > a {
        text-decoration: none;
		color: #2a9d8f;
        font-family: Urbanist;
    }
</style>
